# 디폴트 무시된 파일
/shelf/
/workspace.xml
# 에디터 기반 HTTP 클라이언트 요청
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml


node_modules/
docs/.vuepress/.temp/
docs/.vuepress/.cache/
docs/.vuepress/dist/
.preview/

# OS/IDE
.DS_Store
Thumbs.db
*.log
.idea/
*.iml
shelf/
workspace.xml
httpRequests/
dataSources/
dataSources.local.xml